<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/css/material-icons.css">
  <link rel="stylesheet" href="/css/materialize.min.css">
  <link rel="stylesheet" href="/css/application.css">
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.slider').slider({
        indicators: false
      });

      $(document).on('click', '#crashButton', function (event) {
        event.preventDefault();
        $.ajax({
          url: '/crash',
          type: 'get',
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log('crashed');
          },
          success: function(data) {
            console.log('success');
          }
        });
        location.reload();
      });
    });
  </script>
</head>

<body>
  <div calss="navbar-fixed" style="z-index:10000;position:relative;">
    <nav class="nav-extended black">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo" style="margin-top:0.5em;margin-left:1em;">
          <img src="/image/dew-logo.png">
        </a>
      </div>
      <div class="nav-content">
        <span class="nav-title"></span>
      </div>
    </nav>
  </div>

  <div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img src="/image/flower-store-bg.jpg">
        <div class="caption center-align">
          <div class="row">
            <div class="col s2 m3 l4"></div>
            <div class="col s8 m6 l4">
              <div class="card" style="background-color: rgba(0,0,0,0.6)">
                <div class="card-content white-text">
                  <span class="card-title">
                    <h1><%= instanceId %><br></h1>
                  </span>
                  <a id="crashButton" style="cursor: pointer;">
                    <i class="large material-icons" style="color: white;">
                      local_florist
                    </i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col s2 m3 l4"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</body>
</html>
